body {
  background-color:#748CAB;
  align-content:center;
}

img {
  width: 200px;
  height: 200px;
  align-content: center;
}

#topdiv {
  background-color: #FCF7FFF;
  font-size: 50px;
  font-family: cursive;
}

#gen9 img {
  width: 600px;
  height: 200px;
}
