body {
  background-color:#748CAB;
  horizontal-align: middle;
}

img {
  width: 200px;
  height: 200px;
  align-content: center;
}

#topdiv {
  background-color: #FCF7FF;
  font-size: 20px;
  font-family: cursive;
}

#gen9 img {
  width: 620px;
  height: 300px;
}
